## Read Employee Data

In [4]:
# Read the "employees.csv" file into a list of strings called "data".  
# The first line (data[0]) will contain the column header names.  Remaining lines will be actual data. 

# ... code .... 

# data = 
# ['EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID\n',
#  '198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600, - ,124,50\n',
#  '199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600, 5 ,124,50\n',
#  ..... .....]

In [5]:
# Extract Column Names into a list called "columnList".  
# Make sure there are no extra spaces or newlines in the names.

# ... code .... 

# Expected Result: 
# colNamesList =  ['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME', 'EMAIL',  'PHONE_NUMBER',  'HIRE_DATE', 
#  'JOB_ID',   'SALARY',  'COMMISSION_PCT', 'MANAGER_ID', 'DEPARTMENT_ID']

In [6]:
# Read each employee data and make a dictionary of it. Store dictionary into a new list called "employeeList" as shown below.  
employeeList = []  

# ... code .... 

# Expected Result:
# employeeList # [ 
# {'EMPLOYEE_ID': 198,  'FIRST_NAME': 'Donald', 'LAST_NAME': 'OConnel', .... },
# {'EMPLOYEE_ID': 201,  'FIRST_NAME': 'Harriet', 'LAST_NAME': 'Smith', .... }
#]

In [7]:

# Process each employee string in data[ ] in a loop
# ... code .... 

    # Clean out the \n at the end of the string as shown in below example. 
    # Example: "201, Michael, .... 20\n" ==> "201, Michael, .... 20"
    # ... code .... 

    # Split the string into a list (let's call it empList) ... use ',' as separator.
    # ... code .... 

    # Create tuples that combines (use zip function) the field name with the value: 
    # empTuples = [('EMPLOYEE_ID', '198'), ('FIRST_NAME', 'Donald') ...]
    # ... code .... 

    # Convert above tuples to a dictionary. Example below: Use "dictionary comprehension".
    # empDict = { 'EMPLOYEE_ID': '198', 'FIRST_NAME': 'Donald',...}, ... }
    # ... code .... 

    # Add employee's dictionary to emplyeeList[]
    # ... code .... 


# Show employee list (limit it to 2 or 3 employees only ... else list will be too long)
# ... code ....

## List Comprehensions

In [8]:
# List Comprehension 1
# Get (id, salary) of all people into a list. Change id to int
# find avg / max / min salaries. 

# ... code ... 

# [('198', 2600), ('199', 2600), ('200', 4400), ('201', 13000) .... .... ]

In [9]:
# List comprehension 2
# Get names (first+last) and hire_date as list of tuples

# ... code ... 

# [('Donald OConnell', '21-JUN-07'),
#  ('Douglas Grant', '13-JAN-08'),
#  ('Jennifer Whalen', '17-SEP-03')
#   ...  ... ]

In [10]:
# List comprehension 3
# [ (id, commission_pct, dept_id), (id, commission_pct, dept_id), (), .... ]

# ... code ... 

# emplWithCommission = 
# [('199', ' 5 ', '50'), ('101', ' 6 ', '90'), ('107', ' 3 ', '60'), ('118', ' 4 ', '30')]

## SORTING

In [11]:
# Sort id_and_salary list based on increasing order of salary
# [].sort() has a key and reverse parameters. 
# Key is a function to return the item on which to sort. 
# reverse = True/False which shows the direction (increasing / decreasing) for the sort

# ... code ....

# [('100', 24000), ('101', 17000), ('102', 17000), ('201', 13000), ('205', 12008), 
# ('108', 12008), ('114', 11000), ('204', 10000), ('103', 9000), ('109', 9000), 
# ('206', 8300), ('110', 8200), ('121', 8200), ('120', 8000), ('122', 7900), ('112', 7800), 
# ('111', 7700), ('113', 6900), ('203', 6500), ('123', 6500), ('202', 6000), .... ]

In [12]:
# Show employee id's with top 10 salaries. 

# ... code ....

# [100, 101, 102, .... 109]

In [13]:
# Find id with highest salary in id_and_salary list. 

# ... code ....

# '100'

In [14]:
# Find AVERAGE salary

# ... Code ....

# Result: some number like 6300

In [15]:
# Create a list of tuples ... [ (fullname, date_of_hire)]
# See sample result below. 

# ... Code ....

# [('Donald OConnell', '21-JUN-07'),
#  ('Douglas Grant', '13-JAN-08'),
#  ('Jennifer Whalen', '17-SEP-03'),
#  ('Michael Hartstein', '17-FEB-04'),
#  ('Pat Fay', '17-AUG-05')]

In [16]:
# Who were the first 5 employees hired? 

# [ (name, date)  (name, date) ..... in ascending order]
# we have to sort on hiredate in ascending order. 
# we need to change hiredate into datetime format before sorting (see strptime function). 

# .... code .....


# [('Donald OConnell', datetime.datetime(2007, 6, 21, 0, 0)),
#  ('Douglas Grant', datetime.datetime(2008, 1, 13, 0, 0)),
#  ('Jennifer Whalen', datetime.datetime(2003, 9, 17, 0, 0)),
#  ('Michael Hartstein', datetime.datetime(2004, 2, 17, 0, 0)),
#  ('Pat Fay', datetime.datetime(2005, 8, 17, 0, 0))]

In [17]:
# We need to sort on date

# ... code .....

# [('Lex De Haan', datetime.datetime(2001, 1, 13, 0, 0)),
#  ('Susan Mavris', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('Hermann Baer', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('Shelley Higgins', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('William Gietz', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('Daniel Faviet', datetime.datetime(2002, 8, 16, 0, 0)),
#  ('Nancy Greenberg', datetime.datetime(2002, 8, 17, 0, 0)),
#  ('Den Raphaely', datetime.datetime(2002, 12, 7, 0, 0)),
#  .... ....

In [18]:
# First 10 employees


# ... code ....

# [('Lex De Haan', datetime.datetime(2001, 1, 13, 0, 0)),
#  ('Susan Mavris', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('Hermann Baer', datetime.datetime(2002, 6, 7, 0, 0)),
#  .... .... 10 employees in total ]

In [19]:
# Newest 10 employees in descending order of hire

# ... code .....

# [('Steven Markle', datetime.datetime(2008, 3, 8, 0, 0)),
#  ('Hazel Philtanker', datetime.datetime(2008, 2, 6, 0, 0)),
#  ('Douglas Grant', datetime.datetime(2008, 1, 13, 0, 0)),
#  ('Ki Gee', datetime.datetime(2007, 12, 12, 0, 0)),
#  ('Luis Popp', datetime.datetime(2007, 12, 7, 0, 0)),
#  ('Kevin Mourgos', datetime.datetime(2007, 11, 16, 0, 0)),
#  ('Karen Colmenares', datetime.datetime(2007, 8, 10, 0, 0)),
#  ('Donald OConnell', datetime.datetime(2007, 6, 21, 0, 0)),
#  ('Bruce Ernst', datetime.datetime(2007, 5, 21, 0, 0)),
#  ('TJ Olson', datetime.datetime(2007, 4, 10, 0, 0))]

In [20]:
# How many employees were hired in 2007 ?

# Result: some number of employees ... example: 15 (this might be different for you)

In [21]:
# All meployees hired up to July 2005


# ... code .....

# [('Lex De Haan', datetime.datetime(2001, 1, 13, 0, 0)),
#  ('Susan Mavris', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('Hermann Baer', datetime.datetime(2002, 6, 7, 0, 0)),
#  ('Shelley Higgins', datetime.datetime(2002, 6, 7, 0, 0))
#  ....   ....]