## Read Employee Data

In [37]:
# Read the "employees.csv" file into a list of strings called "data".  
# The first line (data[0]) will contain the column header names.  Remaining lines will be actual data. 
data = []
with open("employees.csv", "r") as empFile:
    data = empFile.readlines()
    # empFile.close()

data[:5]

['EMPLOYEE_ID,FIRST_NAME,LAST_NAME,EMAIL,PHONE_NUMBER,HIRE_DATE,JOB_ID,SALARY,COMMISSION_PCT,MANAGER_ID,DEPARTMENT_ID\n',
 '198,Donald,OConnell,DOCONNEL,650.507.9833,21-JUN-07,SH_CLERK,2600, - ,124,50\n',
 '199,Douglas,Grant,DGRANT,650.507.9844,13-JAN-08,SH_CLERK,2600, 5 ,124,50\n',
 '200,Jennifer,Whalen,JWHALEN,515.123.4444,17-SEP-03,AD_ASST,4400, - ,101,10\n',
 '201,Michael,Hartstein,MHARTSTE,515.123.5555,17-FEB-04,MK_MAN,13000, - ,100,20\n']

In [38]:
# Extract Column Names into a list called "columnList".  
# Make sure there are no extra spaces or newlines in the names.

columnNamesStr = data[0]                                # Column names are stored in 1st row. 
colNamesList = columnNamesStr.split(',')                # Split each column name
colNamesList = [x.strip()  for x in colNamesList]       # Clean out spaces and \n 
colNamesList

['EMPLOYEE_ID',
 'FIRST_NAME',
 'LAST_NAME',
 'EMAIL',
 'PHONE_NUMBER',
 'HIRE_DATE',
 'JOB_ID',
 'SALARY',
 'COMMISSION_PCT',
 'MANAGER_ID',
 'DEPARTMENT_ID']

In [39]:
# Read each employee data and make a dictionary of it. Store dictionary into a new list called "employeeList" as shown below.  
employeeList = []  # [ 
# {'EMPLOYEE_ID': 198,  'FIRST_NAME': 'Donald', 'LAST_NAME': 'OConnel', .... },
# {'EMPLOYEE_ID': 201,  'FIRST_NAME': 'Harriet', 'LAST_NAME': 'Smith', .... }
#]


# Process each employee string in data[ ] in a loop
for empStr in data[1:]:
    # Clean out the \n at the end of the string. 
    # Example: "201, Michael, .... 20\n" ==> "201, Michael, .... 20"
    empStr = empStr.strip() 

    # Split the string into a list (let's call it empList)
    empList = empStr.split(',')

    # Create tuples that combine the field name with the value: 
    # empTuples = [('EMPLOYEE_ID', '198'), ('FIRST_NAME', 'Donald') ...]
    empTuples = list( zip(colNamesList, empList) )  


    # Convert above tuple to a dictionary 
    # empDict = { 'EMPLOYEE_ID': '198', 'FIRST_NAME': 'Donald',...}, ... }
    empDict = { x:y  for (x,y) in empTuples }

    # Add employee's dictionary to emplyeeList[]
    employeeList.append(empDict)


# Show employee list (limit it to 2 or 3 employees only ... else list will be too long)
employeeList[:2]

[{'EMPLOYEE_ID': '198',
  'FIRST_NAME': 'Donald',
  'LAST_NAME': 'OConnell',
  'EMAIL': 'DOCONNEL',
  'PHONE_NUMBER': '650.507.9833',
  'HIRE_DATE': '21-JUN-07',
  'JOB_ID': 'SH_CLERK',
  'SALARY': '2600',
  'COMMISSION_PCT': ' - ',
  'MANAGER_ID': '124',
  'DEPARTMENT_ID': '50'},
 {'EMPLOYEE_ID': '199',
  'FIRST_NAME': 'Douglas',
  'LAST_NAME': 'Grant',
  'EMAIL': 'DGRANT',
  'PHONE_NUMBER': '650.507.9844',
  'HIRE_DATE': '13-JAN-08',
  'JOB_ID': 'SH_CLERK',
  'SALARY': '2600',
  'COMMISSION_PCT': ' 5 ',
  'MANAGER_ID': '124',
  'DEPARTMENT_ID': '50'}]

## List Comprehensions

In [40]:
# List Comprehension 1
# Get (id, salary) of all people into a list. Change id to int
# find avg / max / min salaries. 

id_and_salary = [ (empl['EMPLOYEE_ID'], int(empl['SALARY']))     for empl in employeeList  ]
print(id_and_salary)

[('198', 2600), ('199', 2600), ('200', 4400), ('201', 13000), ('202', 6000), ('203', 6500), ('204', 10000), ('205', 12008), ('206', 8300), ('100', 24000), ('101', 17000), ('102', 17000), ('103', 9000), ('104', 6000), ('105', 4800), ('106', 4800), ('107', 4200), ('108', 12008), ('109', 9000), ('110', 8200), ('111', 7700), ('112', 7800), ('113', 6900), ('114', 11000), ('115', 3100), ('116', 2900), ('117', 2800), ('118', 2600), ('119', 2500), ('120', 8000), ('121', 8200), ('122', 7900), ('123', 6500), ('124', 5800), ('125', 3200), ('126', 2700), ('127', 2400), ('128', 2200), ('129', 3300), ('130', 2800), ('131', 2500), ('132', 2100), ('133', 3300), ('134', 2900), ('135', 2400), ('136', 2200), ('137', 3600), ('138', 3200), ('139', 2700), ('140', 2500)]

In [41]:
# List comprehension 2
# Get names (first+last) and hire_date as list of tuples

joinDateTuple = lambda x: ( x['FIRST_NAME'] + " " + x['LAST_NAME'] , x['HIRE_DATE'] )

JoiningDateOfEmpl = [ joinDateTuple(e)   for e in employeeList]
JoiningDateOfEmpl[:5]

[('Donald OConnell', '21-JUN-07'),
 ('Douglas Grant', '13-JAN-08'),
 ('Jennifer Whalen', '17-SEP-03'),
 ('Michael Hartstein', '17-FEB-04'),
 ('Pat Fay', '17-AUG-05')]

In [42]:
# List comprehension 3
# [ (id, commission_pct, dept_id), (id, commission_pct, dept_id), (), .... ]

emplCommision = lambda x: (x['EMPLOYEE_ID'], x['COMMISSION_PCT'], x['DEPARTMENT_ID'])
emplWithCommision = [ emplCommision(a) for a in employeeList if a['COMMISSION_PCT'] != ' - ' ]
print(emplWithCommision)

[('199', ' 5 ', '50'), ('101', ' 6 ', '90'), ('107', ' 3 ', '60'), ('118', ' 4 ', '30')]

## SORTING

In [43]:
# Sort id_and_salary list based on increasing order of salary
# [].sort() has a key and reverse parameters. 
# Key is a function to return the item on which to sort. 
# reverse = True/False which shows the direction (increasing / decreasing) for the sort

id_and_salary.sort(key=lambda x: x[1] ,  reverse=True)
print(id_and_salary)

[('100', 24000), ('101', 17000), ('102', 17000), ('201', 13000), ('205', 12008), ('108', 12008), ('114', 11000), ('204', 10000), ('103', 9000), ('109', 9000), ('206', 8300), ('110', 8200), ('121', 8200), ('120', 8000), ('122', 7900), ('112', 7800), ('111', 7700), ('113', 6900), ('203', 6500), ('123', 6500), ('202', 6000), ('104', 6000), ('124', 5800), ('105', 4800), ('106', 4800), ('200', 4400), ('107', 4200), ('137', 3600), ('129', 3300), ('133', 3300), ('125', 3200), ('138', 3200), ('115', 3100), ('116', 2900), ('134', 2900), ('117', 2800), ('130', 2800), ('126', 2700), ('139', 2700), ('198', 2600), ('199', 2600), ('118', 2600), ('119', 2500), ('131', 2500), ('140', 2500), ('127', 2400), ('135', 2400), ('128', 2200), ('136', 2200), ('132', 2100)]

In [44]:
# Show employee id's with top 10 salaries. 
# [100, 101, 102, .... 109]

topTenId = [ a[0] for a in  id_and_salary[:10] ]
topTenId

['100', '101', '102', '201', '205', '108', '114', '204', '103', '109']

In [45]:
# Find id with highest salary in id_and_salary list. 
id_and_salary[0][0]

'100'

In [46]:
# Find AVERAGE salary

sum_of_salaries = sum( [i[1] for i in id_and_salary] )
print(sum_of_salaries)

len_of_emplyeeList = len(employeeList)
print(len_of_emplyeeList)

avg = sum_of_salaries / len_of_emplyeeList
print(avg)

309116
50
6182.32

In [47]:
# (emplyeeName, hireDate)
emplHiredate = [ (e['FIRST_NAME'] + ' ' + e['LAST_NAME'], e['HIRE_DATE'])  for e in employeeList ]
emplHiredate[:5]

[('Donald OConnell', '21-JUN-07'),
 ('Douglas Grant', '13-JAN-08'),
 ('Jennifer Whalen', '17-SEP-03'),
 ('Michael Hartstein', '17-FEB-04'),
 ('Pat Fay', '17-AUG-05')]

In [48]:
# Who were the first 5 employees hired? 

# [ (name, date)  (name, date) ..... in ascending order]
# we have to sort on hiredate in ascending order. 
# we need to change hiredate into datetime format before sorting. 

from datetime import datetime

emplHiredate = [ (t[0], datetime.strptime(t[1], "%d-%b-%y"))  for t in emplHiredate]
emplHiredate[:5]

[('Donald OConnell', datetime.datetime(2007, 6, 21, 0, 0)),
 ('Douglas Grant', datetime.datetime(2008, 1, 13, 0, 0)),
 ('Jennifer Whalen', datetime.datetime(2003, 9, 17, 0, 0)),
 ('Michael Hartstein', datetime.datetime(2004, 2, 17, 0, 0)),
 ('Pat Fay', datetime.datetime(2005, 8, 17, 0, 0))]

In [49]:
# We need to sort on date
emplHiredate.sort(key=lambda x: x[1])
emplHiredate[:10]

[('Lex De Haan', datetime.datetime(2001, 1, 13, 0, 0)),
 ('Susan Mavris', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Hermann Baer', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Shelley Higgins', datetime.datetime(2002, 6, 7, 0, 0)),
 ('William Gietz', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Daniel Faviet', datetime.datetime(2002, 8, 16, 0, 0)),
 ('Nancy Greenberg', datetime.datetime(2002, 8, 17, 0, 0)),
 ('Den Raphaely', datetime.datetime(2002, 12, 7, 0, 0)),
 ('Payam Kaufling', datetime.datetime(2003, 5, 1, 0, 0)),
 ('Alexander Khoo', datetime.datetime(2003, 5, 18, 0, 0))]

In [50]:
# First 10 employees
emplHiredate[:10]

[('Lex De Haan', datetime.datetime(2001, 1, 13, 0, 0)),
 ('Susan Mavris', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Hermann Baer', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Shelley Higgins', datetime.datetime(2002, 6, 7, 0, 0)),
 ('William Gietz', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Daniel Faviet', datetime.datetime(2002, 8, 16, 0, 0)),
 ('Nancy Greenberg', datetime.datetime(2002, 8, 17, 0, 0)),
 ('Den Raphaely', datetime.datetime(2002, 12, 7, 0, 0)),
 ('Payam Kaufling', datetime.datetime(2003, 5, 1, 0, 0)),
 ('Alexander Khoo', datetime.datetime(2003, 5, 18, 0, 0))]

In [51]:
# Newest 10 employees in descending order of hire
EL = emplHiredate[-10:]
EL.sort(key=lambda t: t[1], reverse=True)
EL

[('Steven Markle', datetime.datetime(2008, 3, 8, 0, 0)),
 ('Hazel Philtanker', datetime.datetime(2008, 2, 6, 0, 0)),
 ('Douglas Grant', datetime.datetime(2008, 1, 13, 0, 0)),
 ('Ki Gee', datetime.datetime(2007, 12, 12, 0, 0)),
 ('Luis Popp', datetime.datetime(2007, 12, 7, 0, 0)),
 ('Kevin Mourgos', datetime.datetime(2007, 11, 16, 0, 0)),
 ('Karen Colmenares', datetime.datetime(2007, 8, 10, 0, 0)),
 ('Donald OConnell', datetime.datetime(2007, 6, 21, 0, 0)),
 ('Bruce Ernst', datetime.datetime(2007, 5, 21, 0, 0)),
 ('TJ Olson', datetime.datetime(2007, 4, 10, 0, 0))]

In [54]:
# How many employees were hired in 2007 ?
EL2007 = [ e[0]  for e in emplHiredate    if e[1].year == 2007]
print( EL2007 )
print(len(EL2007))

['James Landry', 'Diana Lorentz', 'TJ Olson', 'Bruce Ernst', 'Donald OConnell', 'Karen Colmenares', 'Kevin Mourgos', 'Luis Popp', 'Ki Gee']
9

In [60]:
# All meployees hired up to July 2005
emp2005 = [ i for i in emplHiredate if i[1].year <= 2005 and i[1].month <= 7 ]
emp2005[:4]

[('Lex De Haan', datetime.datetime(2001, 1, 13, 0, 0)),
 ('Susan Mavris', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Hermann Baer', datetime.datetime(2002, 6, 7, 0, 0)),
 ('Shelley Higgins', datetime.datetime(2002, 6, 7, 0, 0))]